---
layout: archive
---
<p style="font-size:60%; text-align:justify;">
I am currently finishing my Master of Engineering at IMT Atlantique, France, with specializations in Machine Learning and general Artificial Intelligence, I am looking for a first experience in academic research to prepare a Ph.D application in the same field.

I am looking for a 6-month research internship starting between september and october 2018. I would like to strengthen my knowledge of deep learning to prepare my application. I’m interested in various fields : from music information processing to annotating object instances by self-driving cars.

 However, I would be interested in being supervised on a personal topic about Deep Reinforcement Learning applied to sound design. I developed it in an attached powerpoint.
I also get a Master of Science in Management from Grenoble Ecole de Management, France.
</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
